@import "@skbkontur/colors/colors.css";

:root {
  font-family: Lab Grotesque, -apple-system, BlinkMacSystemFont, Arial,
    Liberation Sans, Nimbus Sans L, sans-serif;
  background-color: black;
  color: var(--grayscaleWhite);
}

.header__appName {
  font-size: max(40px, 2vw);
  margin: 0;
}

.emptyStub__text {
  font-size: max(20px, 2vw);
  font-weight: 500;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 80vw;
  margin: max(1vw, 16px);
}

.main__clock {
  height: max(320px,40vh);
  width: 90vw;
}

.main__content {
  width: 90vw;
}

.date__month {
  font-size: max(56px, 5vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.date__year {
  font-size: max(56px, 5vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.date__days {
  font-size: max(56px, 5vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.date__hours {
  font-size: max(40px, 3vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.date__minutes {
  font-size: max(20px, 1.5vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.date__seconds {
  font-size: max(20px, 1.5vw);
  font-weight: 700;
  font-variant: tabular-nums;
}

.separator {
  font-size: max(32px, 2vw);
  font-weight: 700;
  padding: 0 max(1vw, 16px);
}

.separator {
  font-size: max(32px, 2vw);
  font-weight: 700;
  padding: 0 max(1vw, 16px);
}

.separator__big {
  font-size: max(40px, 3vw);
  font-weight: 700;
  padding: 0 max(1.5vw, 24px);
}

.main__primaryText {
  font-size: max(40px, 3vw);
  margin-bottom: max(20px, 1vw);
  color: var(--grayscaleDisabledText);
  font-weight: 700;
  text-wrap: balance;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  align-items: center;
  gap: 1vw;
  margin: max(1vw, 16px);
}

.footer {
  display: flex;
  justify-content: end;
  width: 95vw;
}

.settings {
  cursor: pointer;
  padding: .5vh;
  border: .2vw solid transparent;
}

.settings:hover,
.settings:focus-visible {
  background-color: var(--grayscaleText);
  border-radius: .5vw;
  border: .2vw solid var(--grayscaleWhite);
  outline: none;
}

.modal__header {
  font-size: max(2vw, 32px);
  margin: 1vw 1vw 1vw 0;
}
