@import "@skbkontur/colors/colors.css";

:root {
  font-family: Lab Grotesque, -apple-system, BlinkMacSystemFont, Arial,
    Liberation Sans, Nimbus Sans L, sans-serif;
  background-color: black;
  color: var(--grayscaleWhite);
}

.header__appName {
  font-size: max(40px, 2vw);
  margin: 0;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 80vw;
  margin: max(1vw, 16px);
}

.main__clock {
  height: max(320px, 40vh);
}

.date__days {
  font-size: max(96px, 10vw);
  font-weight: 700;
}

.date__hours {
  font-size: max(48px, 3vw);
  font-weight: 700;
}

.date__minutes {
  font-size: max(48px, 3vw);
  font-weight: 700;
}

.separator {
  font-size: max(32px, 2vw);
  font-weight: 700;
  padding: 0 max(1vw, 16px);
}

.main__primaryText {
  font-size: max(40px, 3vw);
  margin-bottom: max(20px, 1vw);
  color: var(--grayscaleDisabledText);
  font-weight: 700;
  text-wrap: balance;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
  gap: 1vw;
  margin: max(1vw, 16px);
}

.footer {
  display: flex;
  justify-content: end;
}

.settings {
  cursor: pointer;
  padding: .5vh;
}

.settings:hover {
  background-color: var(--grayscaleText);
  border-radius: .5vw;
}

.datapicker__helper {
  font-weight: 700;
  font-size: 24px;
}

.modal__header {
  font-size: max(3vw, 40px);
  margin: 1vw 0;
}
